body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.background-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/static/background.jpeg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    opacity: 0.7; /* 70% opacity */
    z-index: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    z-index: 1;
    position: relative;
}

.result-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 800px;
    z-index: 1;
    position: relative;
}

.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploaded-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.prediction-info {
    text-align: center;
}

.prediction-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.prediction-label {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.go-back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.go-back-button:hover {
    background-color: #45a049;
}
